<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="dashboard.css" />
    <title>Dashboard Page</title>
  </head>
  <body>
    <div class="container">
      <div class="nav-bar">
        <div class="logo">
          <div></div>
          <h1>Dashboard</h1>
        </div>
        <div class="nav-buttons">
          <div>Search</div>
          <div>Notifications</div>
          <div class="profile">
            <span class="profile-name">John Doe</span>
            <div class="profile-picture"></div>
          </div>
        </div>
      </div>
      <div class="side-bar">
        <div>
          <h3>Homepage</h3>
          <h3>Profile</h3>
          <h3>Calendar</h3>
          <h3>Notes</h3>
        </div>
        <div>
          <h3>Settings</h3>
        </div>
      </div>
      <div class="board">
        <div class="user-list">
          <h2>Users</h2>
          <ul>
            <li>User 1</li>
            <li>User 2</li>
            <li>User 3</li>
            <li>User 4</li>
          </ul>
        </div>
        <div class="graph-bar">
          <div></div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoad", function () {
          // Code here !!
      });

    </script>
  </body>
</html>
